<ul>
    <div>
        <a href="/">
            <img src="/image/logo.png" alt="" srcset="">
        </a>
    </div>
    {{!-- <div id="nav">
        <a href="/">
            <li>Home</li>
        </a>
        <a href="/logout">
            <li>Log out</li>
        </a>
    </div> --}}
    {{{nav}}}
</ul>