<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home2.css">
    <link rel="stylesheet" href="/header.css">
</head>
<body>

    {{>header}}

    <a href="/login"><button>Create Notes</button></a>
</body>
</html>