<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/login_header.css">
</head>

<body>

    {{>login_header}}

    <div id="main-container">
        <div id="container">
            <h1>Log in</h1>
            <form action="/login" method="post" id="box">
                <input type="email" name="email" placeholder="Email" class="input" required maxlength="40">
                <input type="password" name="password" placeholder="Password" class="input" required>
                <input type="submit" id="submit" value="Log in">
            </form>
            <a href="/signup" id="link">New user? Do Signup.</a>
            <p>{{err}}</p>
        </div>
    </div>
</body>

</html>