#note_form{
    width: 80%;
    height: 70vh;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.input{
    padding: 20px;
    box-sizing: border-box;
    border: none;
}

#title{
    margin-top: 5vh;
    height: 60px;
    font-size: xx-large;
}

#note{
    /* margin-top: 5vh; */
    height: 50vh;
    resize: none;
    font-size: large;
}

#submit{
    margin: auto;
    margin-top: 5vh;
    width: 120px;
    height: 40px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

#delete_btn{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

#delete_btn button{
    width: 120px;
    height: 40px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

#delete{
    width: 400px;
    height: 200px;
    /* margin-left: 30px; */
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -100px;
    background-color: rgb(167, 254, 225);
    border: 1px solid rgba(0, 0, 0, 0);
    z-index: 2;
}

#delete p{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 40px;
}

#delete div{
    display: flex;
    justify-content: space-around;
}

#delete div button{
    width: 80px;
    height: 40px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
}

#confirm_delete{
    width: 80px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1; /* Adjust as needed */
}